// Variables globales
$primary-color: #075bb4b9;
$secondary-color: #6c757d;
$light-color: #096d4e;
$dark-color: #dbef00;
$text-color: #0e8807;

$font-family-base: 'Arial', sans-serif;
$font-size-base: 16px;

$spacing-unit: 1rem;
